* {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #848484;
    box-sizing: border-box;
}


.container {
    width: 500px;
}

.col-3 {
    width: 25%;
    float: left;
    padding-left: 10px;
}

.col-9 {
    width: 75%;
    float: left;
}

.header-margin {
    margin-top: 30px;
}

.text-padding {
    padding-left: 40px;
}

.img-error {
    max-height: 120px;
}