* {
    /*border: 1px solid red !important;*/
    align-content: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



#titleRight {
    text-align: right;
    font-size: 20px;
}

* {
    font-family: "Helvetica";
}

.col-4 {
    align-content: center;
    text-align: center;
}

.col-12 {
    align-content: center;
    text-align: center;
}

.title {
    align-content: center;
    text-align: center;
    background-image: url("http://placehold.it/1200x500");
    min-height: 500px;
}

.button-1 {
    margin-right: 20px;
    padding: 10px;
    align-content: center;
}

.button-2 {
    margin-left: 20px;
    padding: 10px;
    align-content: center;
}

.feature {
    margin: 20px;
    align-content: center;
}

.feature-title {
    align-content: center;
}

h3, h4 {
    text-align: center;
}

h4 {
    color: #808080;
}

.developer-image {
    display: block;
    margin: 0 auto;
}