* {
    font-family: 'Lato', sans-serif;
    color: #848484;
}



.title-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/ufpr2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.title {
    margin-top:200px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
}

.buttons {
    margin-top:80px;
    margin-bottom: 40px;
}

.button-margin {
    margin-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
}

.title-margin {
    margin-top:40px;
    margin-bottom: 40px;
}

.sub-title {
    color: #000000;
}

.img-feature {
    max-height: 130px;
}

.footer {
    margin-top: 40px;
    background-color: #111111;
}

a {
    color: #848484;
}

.margin-20 {
    margin-top:20px;
    margin-bottom: 20px;
}

.padding-25 {
    padding: 25px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.button-register {
    background-color: #e96656;
    border-color: #e96656;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    font-weight: lighter;
}

/* Changes background color when focused */
.button-register:hover, .button-register:focus {
    background-color: #9B4439;
    border-color: #9B4439;
}

.button-login {
    background-color: #1e9e6b;
    border-color: #1e9e6b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    font-weight: lighter;
}

.button-login:hover, .button-login:focus {
    background-color: #146947;
    border-color: #146947;
}

.testimonial-section {
    background: #8c7620;
}

.testimonial-title {
    padding-top: 40px;
    color: white;
}

.testimonial-subtitle {
    color: white;
    margin-bottom: 40px;
}

.img-testimonial {
    max-width: 70px;
}

.developer-margin {
    margin-bottom: 40px;
}

.dev-desc-margin {
    margin-bottom: 20px;
}

.social-net-btn {
    color: #848484;
    border-color: #848484;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}

.social-net-btn:hover, .social-net-btn:focus {
    color: #337ab7;
    border-color: #337ab7;
}

.white-bg {
    background-color: white;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}