* {
    font-family: 'Lato', sans-serif;
    color: #848484;
}

.title-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/ufpr2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.title {
    margin-top:200px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
}

.buttons {
    margin-top:80px;
    margin-bottom: 40px;
}

.button-margin {
    margin-top: 20px;
}

.title-margin {
    margin-top:40px;
    margin-bottom: 40px;
}

.sub-title {
    color: #000000;
}

.form-margin {
    margin-top:50px;
    margin-bottom:50px;
}

.footer {
    margin-top: 40px;
    background-color: #111111;
}

a {
    color: #848484;
}

.img-footer {
    margin-top:20px;
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}


/* Removes spinner for number fields on registration */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}