* {
    font-family: 'Lato', sans-serif;
    color: #848484;
}

.logout-img {
    max-height: 20px;
}

.section-margin {
    margin-top: 40px;
}

th {
    text-align: center;
}

li:hover {
    background-color: #e7e7e7;
}